<footer class="footer py-3 bg-dark">
    <div class="footer-content">
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
        <span class="text-muted">© 2022 Game Hawk. All rights reserved</span>
        <div class="social-links">
            <a href="https://www.instagram.com/shades_of_rz"><img src="/assets/icons/facebook.svg" alt="Facebook" /></a>
            <a href="https://www.instagram.com/shades_of_rz/"><img src="/assets/icons/twitter.svg" alt="twitter" /></a>
            <a href="https://www.instagram.com/shades_of_rz/"><img src="/assets/icons/instagram.svg" alt="twitter" /></a>
        </div>
    </div>
</footer>
</body>

</html>