<%- include('../partials/header.ejs')%>

<body>
    <%- include('../partials/navbar.ejs')%>

    <div class="container-fluid main-container">
        <div class="mission-container">
            <img src="/assets/logo.png" alt="GAME HAWK" id="home-branding">
            <p id="mission">
                Every gamer's hunt ends here
            </p>
        </div>
        <form id="new-trade" class="card bg-dark" action = '/user/signup' method = 'POST'>
            <h5 class="form-title">Register</h5>
            <div class="input-group">
                <span class="input-group-text">First Name</span>
                <input type="text" name="firstName" aria-label="Enter your first name" class="form-control" required>
            </div>
            <div class="input-group">
                <span class="input-group-text">Last Name</span>
                <input type="text" name="lastName" aria-label="Enter your last name" class="form-control" required>
            </div>
            <div class="input-group">
                <span class="input-group-text">Email ID</span>
                <input type="email" name="email" aria-label="Enter your email id" class="form-control"required>
            </div>
            <div class="input-group">
                <span class="input-group-text">Password</span>
                <input type="password" name="password" aria-label="Enter your password" class="form-control" minlength="8" maxlength="64" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>

<%- include('../partials/footer.ejs')%>