<%- include('../partials/header.ejs')%>
<body id="about-page">
    <%- include('../partials/navbar.ejs')%>
    <div class="container-fluid main-container">
        <div class="mission-container main-pages">
            <img src="/assets/logo.png" alt="GAME HAWK" id="home-branding">
            <div id="main-title">
                <h1>About Us</h1>
                <p class="main-content">We provide a plaform for the gamers who likes to play diffenet games. We understand that once the game is completed its become a obsolete thing in the drawer. So, we brought a game trading platform for hadcore gamers where they can list the games have in return of the games they want.</p>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs')%>