<%- include('../partials/header.ejs')%>
<body id="contact-page">
    <%- include('../partials/navbar.ejs')%>
    <div class="container-fluid main-container">
        <div class="mission-container main-pages">
            <img src="/assets/logo.png" alt="GAME HAWK" id="home-branding">
            <div id="main-title">
                <h1>Contact Us</h1>
                <p class="main-content">
                    <span> GameHawk Inc.<span> <br>
                    <span> 9527, University Terrace Drive<span> <br>
                    <span> Charlotte, NC, USA - 28262<span> <br>
                </p>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs')%>