<%- include('../partials/header.ejs')%>
<body id="landing-page">
    <%- include('../partials/navbar.ejs')%>
    <div class="container-fluid main-container">
        <div class="mission-container main-pages">
            <img src="/assets/logo.png" alt="GAME HAWK" id="home-branding">
            <div id="main-title">
                <h1>Oopsss...</h1>
                <p id="main-content">
                    <%= error %>
                </p>
                <a href="/" class="btn btn-md explore-btn">Back to Home</a>
            </div>  
        </div>
    </div>

<%- include('../partials/footer.ejs')%>